@import "../../styles/templates.styles";
@import "../../styles/constants.styles";

.player {
  margin-bottom: 20px;
  position: relative;

  font-size: 0;

  &__video {
    width: 100%;
    max-height: 700px;
    border-radius: 14px;
    object-fit: cover;

    @media (max-width: 1024px) {
      border-radius: unset;
    }
  }

  &__pannel {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    &-wrapper {
      padding: 33px;
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 20px;

      &--desktop {
        @media (max-width: 1024px) {
          display: none;
        }
      }

      &--mobile {
        display: none;

        @media (max-width: 1024px) {
          display: flex;
          padding: 8px 18px;
          background-color: rgb(61, 61, 61, 0.6);
          border-radius: 10px;
        }
      }
    }

    .time {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-value-block {
        @media (max-width: 1024px) {
          display: flex;
          align-items: center;
          gap: 6px;
          flex: 1;
        }
      }

      &-value {
        font-weight: 400;
        font-size: 1.375rem;
        color: #ffffff;

        @media (max-width: 1024px) {
          font-size: 0.625rem;
        }
      }

      &line {
        @extend %progress-line;
        height: 10px;

        background-color: rgba(255, 255, 255, 0.2);

        &--value {
          @extend %progress-line-value;
          width: 20%;

          background-color: $hover-color;
        }

        @media (max-width: 1024px) {
          height: 5px;
        }
      }

      //&line-range {
      //  -webkit-appearance: none;
      //  background: transparent;
      //  cursor: pointer;
      //  width: 100%;
      //
      //  &::-webkit-slider-runnable-track {
      //    @extend %progress-line;
      //    height: 10px;
      //
      //    background-color: rgba(255, 255, 255, 0.2);
      //  }
      //
      //  &::-webkit-progress-value {
      //    @extend %progress-line;
      //    height: 10px;
      //
      //    background-color: rgba(255, 255, 255, 0.2);
      //  }
      //
      //  &::-webkit-progress-value {
      //    background-color: $hover-color;
      //  }
      //
      //  &::-moz-range-track {
      //    @extend %progress-line;
      //    height: 10px;
      //
      //    background-color: rgba(255, 255, 255, 0.2);
      //  }
      //
      //  &::-moz-range-progress {
      //    @extend %progress-line;
      //    height: 10px;
      //
      //    background-color: $hover-color;
      //  }
      //
      //  &::-moz-range-thumb {
      //    height: 0;
      //    width: 0;
      //    background-color: transparent;
      //  }
      //}

      @media (max-width: 1024px) {
        display: flex;
        gap: 14px;
      }
    }

    @media (max-width: 1024px) {
      padding: 0 6px 8px;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;

    &-main {
      display: flex;
      gap: 40px;
      flex: 1;

      .volume {
        display: flex;
        align-items: center;
        gap: 20px;
        flex: 1;

        &__line {
          @extend %progress-line;
          height: 8px;
          width: 100%;
          max-width: 86px;

          @media (max-width: 1024px) {
            height: 8px;
          }
        }

        &__value {
          @extend %progress-line-value;
          width: 40%;

          background-color: rgba(225, 225, 225, 1);
        }
      }
    }

    &-additional {
      display: flex;
      gap: 25px;
    }

    &-button svg {
      @media (max-width: 1024px) {
        width: 12px;
        height: 12px;
      }
    }
  }
}
