:root {
  --dark-name: #19202C;
  --hover-color: #ff0000;
  --active-color: #d20101ff;
  --navigation-links: #898989;
  --additional-text: #c2c2c2;
}

/* header */
.header {
  padding: 20px 30px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.header__burger-block {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 1;
}

.burger-menu {
  width: 20px;
  height: 18px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.burger-menu__line {
  width: 100%;
  height: 3px;
  border-radius: 1px;

  background-color: #1f2022;
}

.home-link {
  font-size: 0;
}

.logo {
  width: 116px;
  height: 25px;
}

.short-logo {
  display: none;
}

.channel-name {
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark-name);
}

.channel-name {
  display: none;
}

.header__controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex: 5;
}

.search-block {
  position: relative;
  flex: 1;
  max-width: 830px;
}

.search-bar {
  width: 100%;
  padding: 12px 23px;
  border: none;
  border-radius: 22px;

  background-color: #ebebeb;
}

.search-btn {
  display: flex;

  position: absolute;
  top: 13px;
  right: 17px;
}

.search-bar::placeholder {
  color: rgba(48, 56, 76, 0.4);
}

.header__controls {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__controls-btn {
  position: relative;
}

.header__controls-btn:hover svg path {
  opacity: 1;
  fill: var(--hover-color);
}

.header__controls-btn:active svg path {
  opacity: 1;
  fill: var(--active-color);
}

.notification-number {
  padding: 2px 5px;
  position: absolute;
  top: -5px;
  right: -5px;
  border: 1px solid #fff;
  border-radius: 50%;

  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: var(--hover-color);
}

.full-menu {
  display: none;
}

/* main */
.content-container {
  padding: 0 30px 30px 30px;
  width: 100%;

  display: flex;
  gap: 60px;
}

.menu-block {
  padding-top: 20px;

  flex: 1;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 5;

  overflow: hidden;
}

/* navigation */
.navigation {
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.navigation__main-block {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.navigation__additional-block {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.navigation__link {
  display: flex;
  align-items: center;
  gap: 13px;

  color: var(--navigation-links);
  font-size: 1rem;
  font-weight: 400;
}

.navigation__link:hover {
  color: rgba(255, 0, 0, 1);
}

.navigation__link:hover svg path {
  opacity: 1;
  fill: var(--hover-color);
}

.navigation__link:active {
  color: var(--active-color);
}

.navigation__link:active svg path {
  opacity: 1;
  fill: var(--active-color);
}

/* subscribers */
.subscriptions {
  margin-bottom: 104px;
}

.subscriptions__list {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.subscriptions__heading {
  margin-bottom: 30px;
}

.subscriptions__link {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--navigation-links);
  font-size: 1rem;
  font-weight: 400;
}

.subscriptions__link:hover {
  color: #000;
}

.subscriptions__avatar {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

/* channel */
.channel__controls {
  padding-right: 30px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.channel-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.channel-info__photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.channel-info__name {
  color: var(--dark-name);
  font-weight: 700;
  font-size: 1.625rem;
}

.channel-info__description {
  color: var(--additional-text);
  font-size: 1rem;
  font-weight: 400;
}

.channel-info__name:hover {
  color: var(--hover-color);
}

.channel__controls-block {
  display: flex;
  gap: 40px;
}

.channel-info__subscriptions {
  padding: 10px 20px;
  border-radius: 20px;

  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--hover-color);
}

.channel__controls-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.channel__controls-btn {
  width: 28px;
  height: 28px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.24);
}

.video-list {
  padding-right: 30px;
  display: flex;
  gap: 40px;
  width: 100%;

  overflow-x: scroll;
}

.video-list__image-block {
  margin-bottom: 10px;
  position: relative;
  border-radius: 14px 14px 0 0;

  font-size: 0;
}

.video-list__image {
  width: 250px;
  height: 150px;
  border-radius: 14px;
  object-fit: cover;
}

.video-list__item-name {
  margin-bottom: 4px;
  color: var(--dark-name);
  font-size: 1rem;
  font-weight: 700;
}

.video-list__item-name:hover {
  color: var(--hover-color);
}

.video-list__additional-info {
  display: flex;
  justify-content: space-between;
  color: var(--additional-text);
  font-size: 0.75rem;
  font-weight: 400;
}

.video-time {
  padding: 3px 9px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 14px;

  background-color: rgba(0, 0, 0, 0.3);
  font-size: 0.75rem;
  color: #fff;
}

.recommendations .video-list__image {
  width: 540px;
  height: 250px;
}

/* main-content */

.banner {
  width: 100%;
  height: 280px;
  object-fit: cover;

  margin-bottom: 30px;
  border-radius: 14px;
}

.channel-main-page__short-info {
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

.channel-main-page__name-block {
  display: flex;
  gap: 14px;
  align-items: center;
}

.channel-name-block__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.channel-main-page__description-block {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.channel-name-block__name {
  font-weight: 700;
  font-size: 1.625rem;
}

.channel-name-block__subscribers {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--additional-text);
}

.channel-main-page__buttons-block {
  display: flex;
  align-items: center;
  gap: 40px;
}

.channel-main-page__content {
  margin-bottom: 62px;

  display: flex;
  justify-content: space-between;
}

/* tabs */
.tabs {
  display: flex;
  flex-direction: column;
  gap: 60px;

  margin-right: 66px;
}

.tabs__controls {
  max-width: 834px;

  display: flex;
  justify-content: space-between;
}

.tabs__button {
  padding: 3px 4px;
  border-bottom: 2px solid transparent;
}

.tabs__button:hover {
  border-bottom: 2px solid var(--hover-color);
  color: var(--hover-color);
}

.tabs__button:last-child {
  display: none;
}

/* recommendations */
.recommendations {
  min-width: 270px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.recommendations__heading {
  font-weight: 400;
  font-size: 1rem;
  color: var(--additional-text);
}

.recommendations__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.recommendations__link {
  display: flex;
  gap: 20px;
  align-items: center;
}

.recommendations__image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.recommendations__name {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--dark-name);
}

/* home-tab */

.home-tab {
  display: flex;
  gap: 32px;
  align-items: center;
}

.home-tab__video-description-block {
  display: flex;
  flex-direction: column;
}

.home-tab__heading {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 1.625rem;
  color: var(--dark-name);
}

.home-tab__description {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 1rem;
  color: #000000;
}

.home-tab__additional-info {
  font-weight: 400;
  font-size: 1rem;
  color: var(--additional-text);
}

.intro-video-block {
  flex: 1;
}

.home-tab__video-description-block {
  max-width: 548px;
  flex: 1;
}

.intro-video-block {
  position: relative;
  font-size: 0;
}

.intro-video-block__video-cover {
  width: 100%;
}
