.content-container {
  padding: 0px 70px 30px 80px;
  display: flex;
  gap: 40px;

  &__block {
    flex: 1;
  }

    @media (max-width: 1024px) {
      padding: 0 16px 22px;
    }

  @media (max-width: 1024px) {
    padding: 0 0 22px;
    flex-direction: column;
    gap: unset;
  }
}
